div.col-4.containerCatalog.d-flex.flex-row
    div.col-4.imgContainer(style="background-color:" + container.colorPicture)
        object.containerImage(data="/images/containerImages/" + container.imageName, width="100", height= "100", type="image/svg+xml")
            img.img-fluid(src="/images/containerImages/" + container.imageName, alt=container.imageName, draggable=false)
    div.col-8.containerInfo
        div.col-12.containerName=container.type
        if(container.repoOfficiel)
            div.col-12.typeRepo (Officiel)
        else
            div.col-12.typeRepo (Communauté)
        hr
        if(!chooseAContainer)
            div.col-12.systemRequirement
                span.row.ramCatalog RAM : #{container.RAM_allowed_by_default} (octet)
                span.row.cpuCatalog CPU : #{container.CPU_allowed_by_default} (%)
        else
            div.row.container
                div.col-8.systemRequirement
                    span.row.ramCatalog RAM : #{container.RAM_allowed_by_default} (octet)
                    span.row.cpuCatalog CPU : #{container.CPU_allowed_by_default} (%)
                div.col-4
                    button.chooseAContainer(id=container.type, type="button", data-toggle="modal", data-target="#addAContainerName", data-whatever="containerName") Deploy


